@model WebOneApp.Models.Resturant

@{
    ViewBag.Title = "Details";
}

<h2>@Model.name</h2>


@foreach (var meal in Model.meals)
{
    <div class="row">
        <h4>@meal.Key</h4>
        @foreach (var item in meal.Value)
        {
            <div class="col-md-6">
                <div class="card" style="width:320px;height:300px;">
                    <img style="width:200px;height:150px" class="card-img-top" src=@item.imgPath alt="Card image">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>@item.name</h4>
                            </div>
                            <div col-md-3>
                                <p>@item.price</p>
                            </div>
                        </div>
                        <br />
                        <p class="text-wrap">@item.description</p>
                        <div class="row">
                            <div class="col-md-2">
                                <a class="btn btn-primary" href="@Url.Action("Edit", "Meals", new { id = item.id })">Edit</a>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-primary" href="@Url.Action("Delete", "Meals", new { id = item.id })">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
